.hr-style {

    border-width: 1px;
    border-style: solid;
    border-color: red;
  }
  
  .menu-bar-content li {
    list-style: none;
    float: left;
    color: white;
    border-radius: 5px;
  }
  
  .menu-bar-content {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
  }
  
  body {
    background-color: aliceblue;
    margin: 0 auto;
  }
  
  .menu-bar-content a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: blue;
    border-radius: 5px;
    color: white;
  }
 table#employeeTable th,tr td {
text-align: center;
  }
.pL-15{
    padding-left: 15px;
}
  