<nav class="navbar navbar-inverse header">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><img src="https://www.evolenthealth.com/sites/all/themes/evolentcorporate/logo.png" style="height:25px"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Solution <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Solution 1</a></li>
                <li><a href="#">Solution 2</a></li>
              </ul>
            </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Careers <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Experienced  <span class="badge">10</span></a></li>
              <li><a href="#">Fresher  <span class="badge">5</span></a></li>
              <li><a href="#">Internship  <span class="badge">2</span></a></li>
            </ul>
          </li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
